<h1>Lost Cats Noticeboard</h1>

  <% if all_cats.empty? %>
    There are no lost cats. Good job!
  <% else %>
    <% all_cats.each_with_index do |cat, index|%>
      <article>
        <h2><%= h cat.name %></h2>
        <h4>Phone number:<br><%= h cat.phone %></h2>
        <p>Description:<br><%= h cat.description %></p>
          
          <!-- Edit cat button -->
        <div>
          <form action="/lostcats/<%= index %>/edit">
            <button id="update <%= index %>">Edit cat details</button>
          </form>
        </div>

        <!-- Delete / UPDATE button -->
        <div>
          <form action="/lostcats/<%= index %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button id="delete <%= index %>">Mark cat as found</button>
          </form>
        </div>
      </article>
    <% end %>
  <% end %>

<!-- Add cat button -->
<div>
  <form action="/lostcats/new">
    <button id="add cat">Add a cat</button>
  </form>
</div>